*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
ul, ol, li{
    list-style: none;
}
h1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 8px;
}
.titulo2{
    color: #713c8d;
}
.linha{
    background-color: black;
    width: 64px;
    height: 2px;
    transform: translate(630px, 2px);
}
body{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    padding-left: 96px;
    padding-right: 96px;
}
.galeria{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas: 
     "f1 f1 f1 f1 f1 f2 f2 f2 f3 f3 f3"
     "f1 f1 f1 f1 f1 f4 f4 f4 f5 f5 f5"
     "f6 f6 f6 f7 f7 f7 f8 f8 f8 f8 f8";
    gap: 12px;
}
.foto{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    overflow: hidden;
}

.foto:nth-child(1){
    grid-area: f1;
    background-image: url(./img/um.jpg);
}
.foto:nth-child(2){
    grid-area: f2;
    background-image: url(./img/dois.png);
}
.foto:nth-child(3){
    grid-area: f3;
    background-image: url(./img/tres.jpg);
}
.foto:nth-child(4){
    grid-area: f4;
    background-image: url(./img/quatro.jpg);
}
.foto:nth-child(5){
    grid-area: f5;
    background-image: url(./img/cinco.png);
}
.foto:nth-child(6){
    grid-area: f6;
    background-image: url(./img/bottom2.png);
}
.foto:nth-child(7){
    grid-area: f7;
    background-image: url(./img/bottom3.png);
}
.foto:nth-child(8){
    grid-area: f8;
    background-image: url(./img/bottom1.png);
}
.foto__info{
    width: 100%;
    height: 64px;
    background-color: #0009;
    color: #fff;
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    transition: 0.5s;
}
.foto:hover > .foto__info{
    transform: translateY(0%);
}
.botao{
    display: grid;
    place-self: center;
    justify-content: center;
    margin-top: 16px;
}
.botao a{
    display: flex;
    background-color: #713c8d;
    border-radius: 10%;
    color:white;
    font-size: 1rem;
    width: 150px;
    height: 50px;
    place-items: center;
    justify-content: center;
    text-decoration: none;
}

@media (max-width: 768px) {
    body{
        padding-left: 12px;
        padding-right: 12px;
    }
    .galeria{
        display: flex;
        flex-direction: column;
    }
    .foto{
        width: 100%;
        height: 33vh;
    }
}